.modal-background {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.651);
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 99;
}

.description-modal-container {
    display: flex;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.911);
    flex-direction: column;
    width: 800px;
    min-height: 500px;
    max-height: 800px;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    object-fit: contain;
}

.description-image-display {
    user-select: none;
    max-height: 50%;
    background-color: rgba(0, 0, 0, 0.295);
    box-shadow: 0 0 5px 3px #000 inset;
    padding: 0.5rem;
}

.description-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description {
    flex-basis: 100%;
    text-align: left;
    margin: 1rem 0;
    height: auto;
    overflow-y: scroll;
}

.description::-webkit-scrollbar {
    width: 10px;
}

.description::-webkit-scrollbar-track {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.description::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.description::-webkit-scrollbar-thumb:hover {
    background: #3a3a3a;
}

.modal-background button {
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    outline: solid 1px #fff;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    background-color: #00000000;
}

.modal-background button:hover {
    background-color: rgba(255, 255, 255, 0.055);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
}

.copy-container {
    text-align: right;
    margin-top: auto;
}

.copy-button {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    width: auto;
    max-width: 47px;
    overflow: hidden;
}

.copy-button.copy-button-expand {
    max-width: 70px;
}

.check-icon {
    color: #8cfa88;
    margin-left: 0.3rem;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.check-show {
    opacity: 1;
}

.close-button {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.3rem 0.5rem;
}